name: Documentation

on:
    push:
        branches: [main, develop]

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: deploy
    cancel-in-progress: false

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup Linux Dependencies
              run: sudo apt install alsa libasound2-dev libssl-dev pkg-config

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@master

            - name: Setup mdbook
              run: |
                  curl -sSL https://github.com/rust-lang/mdBook/releases/download/v0.4.40/mdbook-v0.4.40-x86_64-unknown-linux-gnu.tar.gz | tar -xz
                  chmod +x mdbook
                  sudo mv mdbook /usr/local/bin/

            - name: Setup Pages
              id: pages
              uses: actions/configure-pages@v4

            - name: Build mdbook
              run: mdbook build docs

            - name: Build API Docs
              run: RUSTDOCFLAGS="--enable-index-page -Zunstable-options" cargo doc --no-deps

            - name: Move API Docs
              run: |
                  rm target/doc/.lock
                  mv target/doc docs/book/api

            - name: Upload Artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: docs/book

    deploy:
        name: Deploy
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Deploy Pages
              id: deployment
              uses: actions/deploy-pages@v4
