name: Format

on:
    pull_request:
    push:
        branches: [main, develop]

jobs:
    format:
        name: Cargo Format
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup Linux Dependencies
              run: sudo apt install alsa libasound2-dev libssl-dev pkg-config

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@master

            - name: Cargo Format
              run: cargo fmt --check