name: Test

on:
    pull_request:
    push:
        branches: [main, develop]

jobs:
    test:
        name: Cargo Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup Linux Dependencies
              run: sudo apt install libasound2-dev libssl-dev pkg-config

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@nightly

            - name: Cache Rust dependencies
              uses: Swatinem/rust-cache@v2

            - name: Cargo Test
              run: cargo test --workspace --release